<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Create New Blog Post</h1>
    <form >
        <label>Blog Title:</label><br>
        <input type="text" required>
        <br>
        <label>Blog Content:</label><br>
        <textarea placeholder="Hey! What's New?" required ></textarea>
        <br>

        <label>Author:</label><br>
        <input type="text" required><br>

        <button>Submit</button>
    </form><br>
    
    <a href="/"><button>Home</button></a>
</body>
<script type="javascript" src="index.js"></script>
</html>