<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h1>BLOG SITE</h1>
    </div>
    <a href="/blogs/create"><button>Create New</button></a>
    <a href="/blog"><button>View Blogs</button></a>
    <div class="post1">
        <h2>Blog post 1</h2>
            <p>This is blog post 1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
             minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora, 
             velit facere cumque magni similique asperiores, corrupti repellendus fuga est! 
             Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
             est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/1">READ MORE</a>
            </p>
    </div><hr>
    <div class="post2">
        <h2>Blog post 2</h2>
            <p>This is blog post 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/2">READ MORE</a>
            </p>
    </div><hr>
    <div class="post3">
        <h2>Blog post 3</h2>
            <p>This is blog post 3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/3">READ MORE</a>
            </p>
    </div><hr>
    <div class="post4">
        <h2>Blog post 4</h2>
            <p>This is blog post 4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/4">READ MORE</a>
            </p>
    </div><hr>
    <div class="post5">
        <h2>Blog post 5</h2>
            <p>This is blog post 5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/5">READ MORE</a>
            </p>
    </div><hr>
    <div class="post6">
        <h2>Blog post 6</h2>
            <p> This is blog post 6 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/6">READ MORE</a>
            </p>
    </div><hr>
    <div class="post7">
        <h2>Blog post 7</h2>
            <p>This is blog post 7 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/7">READ MORE</a>
            </p>
    </div><hr>
    <div class="post8">
        <h2>Blog post 8</h2>
            <p>This is blog post 8 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/8">READ MORE</a>
            </p>
    </div><hr>
    <div class="post9">
        <h2>Blog post 9</h2>
            <p>This is blog post 9 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/9">READ MORE</a>
            </p>
    </div><hr>
    <div class="post10">
        <h2>Blog post 10</h2>
            <p>This is blog post 10 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, non velit tenetur
                minima ad cupiditate quibusdam! Veritatis, consectetur recusandae adipisci tempora,
                velit facere cumque magni similique asperiores, corrupti repellendus fuga est!
                Exercitationem ipsam, velit quia libero in ratione praesentium voluptates
                est nulla rerum explicabo architecto accusantium sequi dolore molestias veniam!...<a href="/post/10">READ MORE</a>
            </p>
    </div>
    
</body>
<script type="text/javascript" src="index.js"></script>
</html>